.navigationBar {
    width: 100vw;
    height: 75px;
    position: fixed;
    display: flex;
    z-index: 1;
    background-color: #63BBFB;
}

.contentRows {
    position: absolute;
    top: 75px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.navFlex {
    display: flex;
}

.navPages {
    display: flex;
}

.navLinks {
    align-self: stretch;
    background-color: #63BBFB;
    padding: 25px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.navLinks:hover {
    background-color: #37a7f7;
}

.navButtons {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    padding: 0px;
    font-size: medium;
}

.navLinkedIn {
    position: absolute;
    right: 25px;
    align-self: stretch;
    height: 100%;
    background-image: url("../../public/linkedIn.png");
    width: 45px;
    height: 45px;
    top: 15px;
    background-size: 45px;
}

.navEmail {
    position: absolute;
    right: 90px;
    align-self: stretch;
    height: 100%;
    background-image: url("../../public/gmail.png");
    width: 45px;
    height: 40px;
    top: 15px;
    background-size: 45px;
}

.noMargin {
    margin: 0px;
}

@media only screen and (orientation: landscape) {
    .contentSplitter {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 75px);
        width: 100vw;
    }
    .contentDesc {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7vh;
    }
    .contentImg {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homeImgContainer {
        height: 75vh;
        width: 75vh;
        display: flex;
            align-items: center;
            justify-content: center;
    }
}

@media only screen and (orientation: portrait) {
    .contentSplitter {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }
    .contentDesc {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .contentImg {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .homeImgContainer {
        display: flex;
            align-items: center;
            justify-content: center;
    }
}